@import "tailwindcss";
@plugin "daisyui";


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .bg-ledRed {
    background-color: #ff6060;
  }
}

.p-slider .p-slider-handle {
  background-color: #64b7f3;
  border: 2px solid white;
  width: 2rem;
  margin-left: -1rem;
}
